@CHARSET "ISO-8859-1";

* {
  font-family: sans-serif;
}

.col-md-3 {
  width: 230px;
}

.col-md-8 {
  width: 660px;
}

#header {
  padding: 10px;
  color: #666666;
  font-weight: 600;
}

#header h3 {
  font-weight: 600;
}

#header .content {
  padding: 25px 0px;
  margin: auto;
}

a {
  color: #666666;
  text-decoration: none;
}

a.active, .active {
  color: #2F85FA;
}

.divider {
  border-bottom: 1px solid #c1c1c1;
}

#left-nav {
  height: 100%;
  padding: 10px;
  font-family: Segoe UI !important;
}

#left-nav ul>li {
  font-size: 14px;
  color: #666666;
  padding: 5px 0;
}

#left-nav a, td {
  font-family: Segoe UI !important;
}

#left-nav ul>li.active {
  font-weight: 600;
  color: #333333;
}

.form-group label {
  font-family: Segoe UI;
}

#main-container {
  border-left: 1px solid #c1c1c1;
}

#sub-header {
  padding: 10px 0;
}

.semibold, .form-group label {
  font-weight: 500;
  color: #666666;
}

label font {
  color: red;
}

.form-control {
  height: 30px;
}

.form-group {
  margin-top: 30px;
}

#button-control {
  text-align: right;
  padding: 20px 0px;
}

#button-control button, #button-control a {
  width: 182px;
  height: 35px;
  margin-left: 40px
}

.form-inline .fullwidth {
  width: 100%;
}

#reset-search {
  margin-left: 10px;
}

#project-list {
  margin-top: 30px;
  color: #666666;
  font-size: 14px;
}

#project-list table tr td:NTH-CHILD(1) {
  width: 5%;
}

#project-list table tr td:NTH-CHILD(2) {
  text-align: right;
  width: 10%;
}

#project-list table tr td:NTH-CHILD(3) {
  width: 30%;
}

#project-list table tr td:NTH-CHILD(4) {
  width: 15%;
}

#project-list table tr td:NTH-CHILD(5) {
  width: 20%;
}

#project-list table tr td:NTH-CHILD(6) {
  width: 10%;
}

#project-list table tr td:NTH-CHILD(7) {
  width: 10%;
}

#project-list table tr td:NTH-CHILD(7) a {
  color: Crimson;
}

#project-list table tr td:NTH-CHILD(1), #project-list table tr td:NTH-CHILD(7), #project-list table tr td:NTH-CHILD(6) {
  text-align: center;
}

#project-list input[type='checkbox'] {
  width: 15px;
  height: 15px;
}

nav#project-paging, #project-control {
  text-align: right;
}

.container.error {
  margin-top: 50px;
  color: #666666;
  font-size: 22px;
}

#project-control {
  background-color: #dfe8f1;
}

#project-control .align-left {
  text-align: left;
}

#project-control .align-right {
  text-align: right;
}

#project-control .align-right i {
  padding: 0 17px;
}

.btn-primary {
  color: #FFF;
  background-color: #2F85FA;
  border-color: #2F85FA;
}

.btn-default {
  color: #333;
  background-color: #B9B9B9;
  border-color: #B9B9B9;
}

.col-md-2.control-label {
  width: 200px;
}

#projectNumber {
  text-align: right;
}

#productStartDate {
  text-align: center;
}

#productEndDate {
  text-align: center;
}