<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  crossorigin="anonymous">
<link href="../../webapp/static/css/mystyle.css" rel="stylesheet">
<link href="../../webapp/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

<title>Project Information Management</title>
</head>
<body class="container-fluid" >
  <div class="container">
    <div id="header" class="row">
      <div class="col-md-8">
        <div class="col-md-2">
          <img alt="ELCA Logo" src="../../webapp/static/Images/logo_elca.png" />{{10+15}}
        </div>
        <div class="col-md-10">
          <h3>Project Information Management</h3>
        </div>
      </div>
      <div class="col-md-2 content">
        <p>
          <a class="active" href="#">EN</a> | <a class="" href="#">FR</a>
        </p>
      </div>
      <div class="col-md-1 content">
        <a class="active" href="#">Help</a>
      </div>
      <div class="col-md-1 content">
        <p>
          <a href="#">Log out</a>
        </p>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="container error">
    <div class="row">
      <div class="col-md-2 col-md-offset-3">
        <img alt="error" src="../../webapp/static/Images/error.png">
      </div>
      <div class="col-md-6">
        <p>
          Unexpected error occurred. </br> Please <font color="red"> contact your adminstrator</font>
        </p>
        <p>
          or <font color="blue">back to search project</font>
        </p>
      </div>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
  integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
  crossorigin="anonymous"></script>
</html>